<!-- <div class="viddiolog modal fade" id="videocall" tabindex="-1" role="dialog" aria-hidden="true"> -->
<!-- <div class="modal-dialog modal-dialog-centered" role="document"> -->
    <div class="modal-body">
        <div class="videocall call-modal">
            <app-operation  ></app-operation>
            <div class="small-image" style="position: relative;left: 30px;bottom: 280px;">
                <app-operator [params]="this.params" [joint]="this.joint"></app-operator>
            </div>
            <div class="media videocall-details">
                <div class="usersprof">
                    <div class="profile"><img class="bg-img" src="assets/images/doctor.png" alt="Avatar"></div>
                    <div class="profile"><img class="bg-img" src="assets/images/a.png" alt="Avatar"></div>
                </div>
                <div class="media-body">
                    <h5>Dr. Farid Adwani</h5>
                    <h6>Tunisia , Tunis</h6>
                </div>
                <div id="basicUsage">00:00:00</div>
                <div class="zoomcontent">
                    <a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()" data-tippy-content="Zoom Screen"><img src="assets/fonts/maximize.svg" alt="zoom screen"></a>
                </div>
            </div>
    
        </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->